datalocale:
  lookup:
    instance:
      name: datalocale
      user: datalocale
      # http port
      port: 8000
      # Anonymous user
      anonymous_user: "john"
      anonymous_password: "secret"
    db:
      driver: postgres
      host: ""
      port: ""
      name: datalocale
      user: datalocale
      pass: datalocale
    admin:
      login: admin
      pass: admin

postgres:
  lookup:
  version: 9.4
