{% from "datalocale/map.jinja" import datalocale with context %}
[admin]

# cubicweb manager account's login (this user will be created)
login={{ datalocale.admin.login }}

# cubicweb manager account's password
password={{ datalocale.admin.pass }}

[system]

# database driver (postgres, sqlite, sqlserver2005)
db-driver={{ datalocale.db.driver }}

# database host
db-host={{ datalocale.db.host }}

# database port
db-port={{ datalocale.db.port }}

# database name
db-name={{ datalocale.db.name }}

# database namespace (schema) name
db-namespace=

# database user
db-user={{ datalocale.db.user }}

# database password
db-password={{ datalocale.db.pass }}

# database encoding
db-encoding=utf8

# set to "Trusted_Connection" if you are using SQLServer and want trusted
# authentication for the database connection
db-extra-arguments=

# sql statement timeout, in milliseconds (postgres only)
db-statement-timeout=0
