{% import_yaml 'datalocale/defaults.yaml' as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
        'Debian': {},
        'RedHat': {},
  },
  grain="os_family",
  merge=salt['pillar.get']('datalocale:lookup'))
%}

{% do default_settings.datalocale.update(os_family_map) %}

{% set datalocale = salt['pillar.get'](
        'datalocale',
        default=default_settings.datalocale,
        merge=True,
    )
%}

{% if grains['os_family'] == 'RedHat' %}
	{% if grains['osmajorrelease'] == '6' %}
		{% set supervisor_confdir = ['/home', datalocale.instance.user, 'etc', 'supervisor.d']|join('/') %}
		{% set supervisor_conffile = [supervisor_confdir, 'datalocale.conf']|join('/') %}
	{% else %}
		{% set supervisor_confdir = '/etc/supervisord.d/' %}
		{% set supervisor_conffile = [supervisor_confdir, 'datalocale.ini']|join('/') %}
	{% endif %}
{% else %}
	{% set supervisor_confdir = '/etc/supervisor/conf.d' %}
	{% set supervisor_conffile = [supervisor_confdir, 'datalocale.conf']|join('/') %}
{% endif %}
